body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100vh;
}
/*sidebar start*/
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border-right: 2px solid #afafaf;
}

.sidebar__header {
    display: flex;
    justify-content: center;
    background-color: #3bc36f;
}

.button {
    width: 100%;
    padding: 15px 0;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.button_add-item {
    position: relative;
    background-color: #3bc36f;
}

.button_add-item:after {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 20%;
    background-image: url(../images/add.svg);
    width: 20px;
    height: 20px;
}

.button_add-item:hover{
    background-color: #3cb964;
    transition: 0.3s;
}


.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    position: relative;
    padding: 15px 30px;
    border-bottom: 1px solid #afafaf;
    color: #767676;
}

.list__close-icon {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    opacity: 0;
    background-image: url(../images/close.svg);
    width: 10px;
    height: 10px;
}

.list__item:hover .list__close-icon {
    opacity: 1;
    transition: 0.3s;
}

.list__head {
    margin: 0 0 10px 0;
}

.list__text{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.sidebar__footer {
    align-items: flex-end;
}

.button_hide-sidebar {
    position: relative;
    background-color: #8c8c8c;
}

.button_hide-sidebar:hover{
    background-color: #828282;
    transition: 0.3s;
}

.button_hide-sidebar:after {
    content: "";
    position: absolute;
    display: block;
    top: 30%;
    left: 20%;
    background-image: url(../images/back.svg);
    width: 20px;
    height: 20px;
}
/*sidebar end*/

/*input text start*/
.text {
    display: flex;
}

.text__input {
    border-right: 3px solid #afafaf;
    padding-top: 30px;
    padding-left: 30px;
    color: #afafaf;
}

.text__output {
    padding-top: 30px;
    padding-left: 30px;
    color: #afafaf;
}
/*input text end*/