section.sidebar
    .sidebar__content
        header.sidebar__header
            button.button.button_plus#button_plus Добавить
        include ../list/list.pug
    footer.sidebar__footer
        button.button.button_back#button_back Скрыть
        button.button_back-hide#button-hide